<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nirma.libapp">

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Contactus"
            android:label="General Information"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />
            />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Search"
            android:label="Search"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />
            />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ELib"
            android:label="Remote Access"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />
            />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Login"
            android:label="Login Library Acc."
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />
            />
        </activity>
        <activity android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".NewArrival"
            android:label="New Arrival"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />
            />
        </activity>
        <activity
            android:name=".PeriodicContent"
            android:screenOrientation="portrait"
            android:label="Content Page Service"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />
            />
        </activity>
        <activity
            android:name=".NewsClips"
            android:label="NewsClips"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />
            />
        </activity>
        <activity
            android:name=".ExamPapers"
            android:label="ExamPapers"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />
            />
        </activity>

        <activity android:name=".AboutLib"
            android:label="About-Library"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nirma.libapp.MainActivity" />



        </activity>
    </application>

</manifest>